header {
  background-color: #00b3ad;  /* un azul personalizado */
  color: #f0f0f0;             /* texto claro */
  padding: 2rem;              /* más espacio interno */
  text-align: center;         /* texto centrado */
  border-bottom: 4px solid #044b56; /* una línea abajo */
}